.uv-bar-container {
  display: flex;
  align-content: center;
  border: 1px solid #ccc;
  background-color: white;
  margin:auto
}

.uv-bar-fill {
  border-style: none;
  margin: auto 0;
  margin-left: 1px;
  margin-right: 1px;
}

.widget-container {
  justify-content: center;
  align-content: center;
  margin: auto 0;
  border: none;
  font-family: 'Open Sans';
  color: #273469
}

.uv-text {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.temp-text {
  text-align: center;
  place-self: center;
}

.degrees-text {
  text-align: center;
  place-self: center;
  text-justify: center;
}

.temp-container {
  display: flex;
  flex-direction: row;
  padding-top: 20%;
  justify-content: center;
}

.welly-weather-widget {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 5px;
  padding: 10px;
  background-color: rgba(26, 150, 240, 0.3);
  border-radius: 5px;
}

.welly-weather-widget-header {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 5px;
  display: flex;
  font-family: 'Open Sans';
}